
{% load static %}
{% block title %}upload file{% endblock %}
{% block extrahead %}
<script>
$(function(){
  $('.dropify').dropify();
})
</script>
{% endblock %}

{% block content %}
<h3>This page can upload csv file</h3>
<form action="{% url 'barRankCsv:upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="choose you file" name="csv">
  <button type="submit" class="btn" name="button">upload</button>
</form>


{% endblock content %}